body,
html {
    margin: 0;
}

.header img {
    /* -webkit-filter: blur(5px);
    filter: blur(4px); */
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
}